.container {
	position: relative;
	display: flex;
	flex-direction: column;
}
.input {
	display: flex;
	flex-direction: column;
	border: 1px solid #aaa;
	height: 32px;
	padding: 0px 26px 0px 8px;
	border-radius: 2px;
	input {
		outline: none;
		border: none;
	}
}
.input input, .value {
	flex: 1;
	line-height: 32px;
	font-size: 18px;
	color: #484848;
}
.value {
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
}
.times {
	position: absolute;
	font-size: 18px;
	line-height: 32px;
	right: 8px;
	cursor: pointer;
	font-weight: bold;
}
.hidden {
	display: none;
}
.options {
	position: absolute;
	top: 34px;
	background-color: #fff;
	width: 100%;
	border: 1px solid #aaa;
	box-sizing: border-box;
	max-height: 340px;
	overflow-y: scroll;
	li {
		list-style: none;
		line-height: 32px;
		font-size: 18px;
		margin: 0px 8px;
		cursor: pointer;
		white-space: nowrap;
		overflow: hidden;
		&:hover {
			text-decoration: underline;
		}
	}
}
